   <%- include('heads/head') %>
   <section class="h-screen w-full flex justify-evenly flex-wrap">
       <% for (let trail of allTrails) { %>
       <div class="h-auto w-1/2 flex flex-row ">
           <img class="w-1/2 aspect-auto" alt=""
               src="https://theplanetd.com/images/Best-Places-To-Hike-In-California.jpg">
           <!-- <img src="" alt="Image of trail.name trail" srcset="<%# have a list of 3 image sources here from db %>"> -->
           <div class="flex flex-col h-full ">
               <p class="trailName flex-auto font-bold text-xl"><%= trail.name %></p>
               <p class="trailOwner flex-auto"><%= trail.owner %></p>
               <div class="trailTags flex flex-row ">
                   <% for (let tag of trail.tags) { %>
                   <p class="flex-auto"><%= tag %></p>
                   <% } %>
               </div>
               <div class="trailRankAndPrice flex flex-row ">
                   <p class="trailRank flex-auto"><%= trail.rank %></p>
                   <p class="trailPrice flex-auto"><%= trail.price %></p>
               </div>
               <div class="trailLocation">
                   <p class="cityAndState"><%=trail.location.city%>, <%=trail.location.state%></p>
               </div>
           </div>

       </div>
       <% } %>
   </section>

   <%- include('heads/foot') %>