   <%- include('../heads/head', {pageName: `${trailOwnerName}'s trails` }) %>
<%- include('../partials/nav.ejs') %>

   <div class="h-full w-full flex flex-col justify-evenly items-center p-5">
    <h1 class="text-7xl"><%= trailOwnerName %>'s trails: </h1>
     <main class="h-full w-full flex justify-evenly flex-wrap">
       <% for (let trailByOwnersName of trailsByOwnerName) { %>
        <%- include('../partials/trailPartial.ejs',{singleTrail: trailByOwnersName}) %>
       <% } %>
   </main>
   </div>
  

   <%- include('../heads/foot') %>